version: '3.9'
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    env_file: .env
    ports:
      - "3000:3000"
  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    env_file: .env
    ports:
      - "3001:3001"
