@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    color-scheme: dark;
  }

  body {
    @apply bg-canvas text-zinc-200 antialiased;
    font-feature-settings: 'ss01' on, 'ss02' on;
  }

  ::selection {
    @apply bg-emerald-500/20 text-emerald-100;
  }
}
